{% extends "layouts/default.html" %}
{% block page_title %}
  Dashboard | {{ block.super }}
{% endblock page_title %}
{% block content %}
  <div class="container mx-auto py-3">
    <div class="flex mt-6">
      <span class="text-4xl font-display font-semibold text-text-800">{{ user.get_full_name }}</span>
    </div>
    <hr class="my-6 mx-2 border-background-400">
    <div class="w-full grid grid-cols-3 gap-3">
      <a href="{% url "document:request_list" %}">
        <div class="flex p-6 rounded-2xl shadow transition-all bg-primary-200 hover:bg-primary-300 hover:shadow-md cursor-pointer">
          <span class="font-header text-xl">Requests</span>
        </div>
      </a>
      <a href="{% url "document:index" %}">
        <div class="flex p-6 rounded-2xl shadow transition-all bg-secondary-200 hover:bg-secondary-300 hover:shadow-md cursor-pointer">
          <span class="font-header text-xl">My Documents</span>
        </div>
      </a>
    </div>
  </div>
{% endblock content %}
