{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
        Django Container
      {% endblock page_title %}
    </title>
    <!-- Metadata -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Styles -->
    <link rel="stylesheet" href="{% static "global.css" %}">
  </head>
  <body class="bg-background-200">
    {% block layout %}
      <div class="h-screen flex flex-col items-center justify-center">
        <code class="text-6xl mb-3">templates/base.html</code>
        <h1 class="text-5xl">
          Block "layout" <span class="text-red-500">not found</span>
        </h1>
      </div>
    {% endblock layout %}
  </body>
</html>
