<div class="bg-background-100 shadow-lg">
  <div class="container mx-auto">
    <nav class="flex flex-row justify-between">
      <ul class="flex flex-row gap-1">
        <li class="px-3 py-2 my-2 rounded cursor-pointer transition-colors hover:bg-primary-200">
          <span class="text-text-900">Dashboard</span>
        </li>
        <li class="px-3 py-2 my-2 rounded cursor-pointer transition-colors hover:bg-primary-200">
          <span class="text-text-900">Announcements</span>
        </li>
        <li class="px-3 py-2 my-2 rounded cursor-pointer transition-colors hover:bg-primary-200">
          <span class="text-text-900">Calendar</span>
        </li>
      </ul>
      <ul class="flex flex-row gap-1">
        <li class="px-3 py-2 my-2 rounded cursor-pointer transition-colors hover:bg-primary-200">
          <span class="text-text-900">Register</span>
        </li>
        <li class="px-3 py-2 my-2 rounded cursor-pointer transition-colors bg-secondary-400 hover:bg-primary-200">
          <span class="text-text-900">Login</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
